*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%,#009688 130px,#d9dbd5 130px,#d9dbd5 100%);
}

.container{
    position: relative;
    display: flex;
    width: 1396px;
    max-width: 95%;
    height: calc(100vh - 60px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0,0, 0.06),2px 5px 0 rgba(0, 0,0, 0.06);
}

.container .leftside-container{
    position: relative;
    flex: 30%;
    background-color: #fff;
    border-right: 1px solid rgba(0, 0,0, 0.2);
}

.container .rightside-container{
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}
.container .rightside-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/pattern.png);
    opacity: 0.08;
}
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.user-img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135%;
    object-fit: cover;
}
.nav-icons{
    display: flex;
}
.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}
.search-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid rgba(158, 154, 154, 0.253);
}
.search-box div{
    width: 100%;
}
.search-box div input{
    width: 100%;
    outline: none;
    border: none;
    background: #ededed;
    padding: 6px;
    height: 38px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 55px;
}
.search-box div input::placeholder{
    color: rgb(158, 154, 154);
}
.search-box div ion-icon{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}
.search-box .filter{
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    padding: 0 5px;
}
.chat-list{
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}
.chat-list .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0,0, 0.06);
    cursor: pointer;
}
.chat-list .block.active{
    background: #ededed;
}
.chat-list .block:hover{
    background: #ededed8c;
}
.chat-list .block .img-chat{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}
.chat-list .block .details-chat{
    position: relative;
    width: 100%;
}
.chat-list .block .details-chat .list-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-list .block .details-chat .list-head h4{
    font-size: 1.1em;
    font-weight: 500;
    color: #111;
}
.chat-list .block .details-chat .list-head .time{
    font-size: 0.85em;
    color: rgb(151, 149, 149);
}
.chat-list .block .details-chat .list-head .b-t{
    color: #06d755;
}
.details-chat .msg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-chat .msg p{
    color: rgb(129, 128, 128);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg b{
    background: #06d755;
    color: #fff;
    font-weight: 300;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.70em;
}
.hide{
    display: none;
}
.block .bold p{
    font-weight: bold;
    color: rgba(17, 17, 17, 0.89);
}
.block .bh4 h4{
    font-weight: bolder;
}
.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgText h4{
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 15px;
}
.imgText h4 span{
    font-size: 0.8em;
    color: #555;
}
/* users chats */
.chatBox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}
.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
}
.message p::before{
    content: " ";
    position:absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);
}
.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.my-message{
    justify-content: flex-end;
}
.friend-message{
    justify-content: flex-start;
}
.friend-message p{
    background: #fff;
}
.friend-message p::before{
    content: " ";
    position:absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);
}
.chat-footer{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-footer ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}
.chat-footer ion-icon:nth-child(1){
    margin-right: 15px;
}
.chat-footer input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
}
.chat-list a{
    text-decoration: none;
}
.dropdown-content{
    position: absolute;
    background: #fff;
    display: none;
    z-index: 5;
    top: 50px;
    right: 20px;
    width: 180px;
    height: 160px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dropdown-list{
    padding: 10px 25px;
    color: rgb(95, 93, 93);
}
.show-dropdown{
    display: block;
}
.show{
    display:block;
}
.dropdown-content-a{
    position:absolute;
    background: #fff;
    display: none;
    z-index: 5;
    top: 48px;
    right: 22px;
    width: 280px;
    height: 375px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dropdown-content-a .dropdown-list{
    padding: 18px 40px;
    color: rgb(95, 93, 93);
}
.dropdown-list:hover{
    background: #ededed8c;
}
